<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Jeu</title>

    <!--
    css 연결
    -->

    <link href = "../../static/css/style.css" rel ="stylesheet" type="text/css">
    <!--
    자바스크립트 연결
    -->
    <script src = "../js/js_style_index.js"></script>

    <!--
    내부 태그 전체에 스타일 적용하기
    <style>
        nav {background-color:darkgreen; font-size: 150%; text-align:center}
        nav a {color:green}
    </style>
    -->



</head>

<body>

    <nav style="color:black; font-size: 100%; ">
        <span style="text-align:center";>
            <a href = "menu.html">menu</a>
        </span>

        <span style="text-align:right">
            <a href="login.html">login</a>
        </span>

    </nav>

    <nav style ="text-align:center">
        <img src="../../static/images/logo.png" width="100px" height="100px">
        <h1 style="text-align:center; color: darkblue"> Jeu </h1>
    </nav>

    <nav style="color:darkblue; font-size: 150%; text-align: center">
        <a href = "./main.html">Doge Game</a>
        <a href = "style_blog_list.html">Gun Play</a>
        <a href = "style_about_us.html">Title Game</a>
    </nav>


    <nav style="align:center;">
        <h3> Jeu Inteli </h3>
        <i> Think more and go over and try again</i><br>
        <strong> you've got it </strong><br>
        <em> and Love yourself</em>
    </nav>


</body>
</html>