<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <!--
     css 연결하는 part
    -->
    <link href = "../static/csss/style.css" rel ="stylesheet" type="text/css">

</head>
<body>
    <nav style=" background-color: darkgreen; font-size: 150%; text-align:center">
        <a href = "main.html">Home</a>
        <a href = "style_blog_list.html">Blog</a>
        <a href = "./style_about_us.html">About Us</a>
    </nav>

    <h1> About Us </h1>
    <h2> andThenSome </h2>

    <p> andThenSome 현실에 유용한 서비스를 제공하는 것을 추구합니다. <br>
    자율 주행 차량의 혁신을 선두할 그룹입니다.</p>

    <hr>

    <!--
    자주사용하는 특수문자 및 태그
       &nbsp: space
       br: enter
    -->


    <a href = "./index.html"> 첫 화면으로 가기</a>
    <img src="../static/images/boy_o1.jpg" width ="600px">

</body>
</html>